<div class="form-holder">
  <form method="post" action="" id="editTeacherAssignmentForm" class="form" data-id="<%=model._id%>">
    <fieldset>
      <div class="inner">
        <ul class="dialog-tabs">
          <li><a class="active" href="javascript:;">Main</a></li>
          <!-- <li><a href="javascript:;">Assignees</a></li> -->
        </ul>
        <div class="clearfix"></div>
        <div class="dialog-tabs-items">
          <div class="dialog-tabs-item active">
	        <div class="half-block left">
			  <dl class="job-create-info">
          <!-- <dt><label for="departmentDd">Department</label></dt>
          <dd>
                    <a id="departmentDd" data-id="<%=(model.department) ? model.department._id : ''%>" class="current-selected" href="javascript:;"><%=(model.department&&model.department.departmentName)?model.department.departmentName:'Select'%></a>
          </dd> -->
				<dt style="display: none;"><label for="instructorDd">Instructor</label></dt>
        <dd style="display: none;">
          <!-- <label id="instructorDd"><%=model.instructor.name%></label> -->
        <a id="instructorDd" data-id="<%=(model.instructor) ? model.instructor._id : ''%>" class="current-selected" href="javascript:;"><%=(model.instructor && model.instructor._id) ? model.instructor._id : 'Select'%></a>
        <!-- <a id="instructorDd" class="current-selected" href="javascript:;"></a> -->
        </dd>
        <dt><label for="instructor">Instructor</label></dt>
        <dd>
          <label id="instructor"><%=model.instructor.name%></label>
        <!-- <a id="instructorDd" data-id="<%=(model.instructor) ? model.instructor._id : ''%>" class="current-selected" href="javascript:;"><%=(model.instructor && model.instructor._id) ? model.instructor._id : 'Select'%></a> -->
        <!-- <a id="instructorDd" class="current-selected" href="javascript:;"></a> -->
        </dd>

        <dt><label for="classesDd">Class</label></dt>
        <dd>
        <a id="classesDd" data-id="<%=(model.class) ? model.class._id : ''%>" class="current-selected" href="javascript:;"><%=(model.class && model.class.code) ? model.class.code : 'Select'%></a>
        </dd>

			</div>
	        <div class="half-block left">
			  <dl class="job-create-info">

        <dt><label for="rate">Rate</label></dt><dd><input type="text" class="title-input blueback" name="rate" id="rate" value="<%=model.rate%>" placeholder="e.g. 3000000" required maxlength="32"/></dd>

        <dt><label for="rolesDd">Roles</label></dt>

        <dd>
        <a id="rolesDd" data-id="<%=(model.role) ? model.role._id : ''%>" class="current-selected" href="javascript:;"><%=(model.role&&model.role.title)?model.role.class:'Select'%></a>
        </dd>

			  </dl>
			  </dl>
			</div>
	        <!-- <div class="half-block left">
    			  <dl class="job-create-info">
    				      <dt><label for="description">Job Description</label></dt><dd><textarea id="description" maxlength="1000" placeholder="Description"><%=model.description%></textarea></dd>
    			  </dl>
    			</div> -->
	        <!-- <div class="half-block left">
    			  <dl class="job-create-info">
    				      <dt><label for="requirements">Requirements</label></dt><dd><textarea id="requirements" maxlength="1000" placeholder="Requirements"><%=model.requirements%></textarea></dd>
    			  </dl>
    			</div> -->
          </div>
          <div class="dialog-tabs-item">
			         <div class="assignees-container"></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
