<div class="form-holder">
  <form method="post" action="" id="createJobPositionForm" class="form">
    <fieldset>
      <div class="inner">
        <ul class="dialog-tabs">
          <li><a class="active" href="javascript:;">Main</a></li>
          <!-- <li><a href="javascript:;">Assignees</a></li> -->
        </ul>
        <div class="clearfix"></div>
        <div class="dialog-tabs-items">
          <div class="dialog-tabs-item active">
	        <div class="half-block left">

        <dl class="job-create-info">
          <dt><img id="instructorImg" src=""/></dt>
        </dl>

			</div>
	        <div class="half-block left">
        <dl class="job-create-info">

        <dt><label for="instructorDd">Instructor</label></dt>

        <dd>
        <a id="instructorDd" class="current-selected" href="javascript:;"></a>
        </dd>
        </dl>
			  <dl class="job-create-info">

        <dt><label for="assignmentDd">Assignment</label></dt>

        <dd>
        <a id="assignmentDd" class="current-selected" href="javascript:;"></a>
        </dd>
			  </dl>
			  <dl class="job-create-info">

        <dt><label for="recordTime">Record time</label></dt>
        <%
          function format2(int) {
            return int < 10 ? "0" + int : int;
          }
          var dateIso = new Date();
          var dateStr = dateIso.getFullYear() + "-" + format2(dateIso.getMonth() + 1) + "-" + format2(dateIso.getDate()) + "T" + format2(dateIso.getHours()) + ":" + format2(dateIso.getMinutes()) + ":" + format2(dateIso.getSeconds());
        %>
        <!-- <%console.log()%> -->
        <dd><input  id="recordTime" type="datetime-local" value="<%=dateStr%>"/></dd>
			  </dl>
			</div>
            <div class="clearfix"></div>
	        <div class="half-block left">
			  <dl class="job-create-info">
				<!-- <dt><label for="description">Job Description</label></dt><dd><textarea maxlength="1000" placeholder="Description" id="description"></textarea></dd> -->
			  </dl>
			</div>
	        <div class="half-block left">
			  <dl class="job-create-info">
				<!-- <dt><label for="requirements">Requirements </label></dt><dd><textarea maxlength="1000" placeholder="Requirements" id="requirements"></textarea></dd> -->

			  </dl>
			</div>
            <div class="clearfix"></div>
          </div>
          <div class="dialog-tabs-item">
			<div class="assignees-container"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </fieldset>
  </form>
  <div class="clearfix"></div>
</div>
